* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  padding: 20px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  min-width: 800px;
  gap: 10px;
}

.form,
input,
button {
  font-size: 1.5rem;
}

button {
  padding: 3px 6px;
}

.location {
  margin-top: 20px;
}

.condition {
  margin-bottom: 20px;
}

.icon {
  max-width: 200px;
  height: auto;
}

.content {
  font-size: 2rem;
}

.temperature {
  font-size: 3rem;
}

.conversion {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: #87c9ff;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffa9a9;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
